@import "../../responsive.scss";
nav{
    display:flex;
    justify-content:space-between;
    height: 100px;
    align-items: center;
    a{
        transition: all 0.4s ease;

        @include sm{
            display: none;
        }
        &:hover{
            scale: 1.10;
        }
    }
    .left{
       
        flex: 3;
        display: flex;
        align-items: center;
        gap: 50px;
        .logo{
            font-weight: bold;
            font-size: 20px;
            display: flex;
            gap: 10px;
            align-items: center;
            img{
                width: 28px;
            }
            span{
                @include md{
                    display: none;
                }
                @include sm{
                    display: initial;
                }
            }
            img{
                width: 28px;
            }
        }
    }

    .right{
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: end;
        height: 100%;
        background-color: #fcf5f3;

        @include md{
            background-color: transparent;
        }
        a{
            padding: 12px 24px;
            margin: 20px;

            .muibtn{
                @include md{
                    height: 40px;
                    width: 90px;
                    line-height: 30px;
                    font-size: 14px;
                    padding: 0px 10px;
                }
            }
        }
        .menuIcon{
            display: none;
            @include sm{
                display: initial;
            }
        }
    }
}